#### Segment 1- Filtering and selecting data

In [2]:
import numpy as np
import pandas as pd

from pandas import Series, DataFrame

#### Selecting and retrieving data
Index values are in two forms

. Label Index or

. Integer Index

In [6]:
series_obj = Series(np.arange(8), index=['row 1', 'row 2','row 3','row 4','row 5','row 6','row 7','row 8'])
series_obj

row 1    0
row 2    1
row 3    2
row 4    3
row 5    4
row 6    5
row 7    6
row 8    7
dtype: int64

In [8]:
series_obj['row 6']

5

In [9]:
series_obj[[3,5]]

row 4    3
row 6    5
dtype: int64

In [12]:
np.random.seed(25)
DF_obj = DataFrame(np.random.rand(36).reshape((6,6)),
                   index=['row 1', 'row 2','row 3','row 4','row 5','row 6'],
                   columns=['column 1','column 2','column 3','column 4','column 5','column 6'])
DF_obj

       column 1  column 2  column 3  column 4  column 5  column 6
row 1  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
row 2  0.684969  0.437611  0.556229  0.367080  0.402366  0.113041
row 3  0.447031  0.585445  0.161985  0.520719  0.326051  0.699186
row 4  0.366395  0.836375  0.481343  0.516502  0.383048  0.997541
row 5  0.514244  0.559053  0.034450  0.719930  0.421004  0.436935
row 6  0.281701  0.900274  0.669612  0.456069  0.289804  0.525819

In [14]:
DF_obj.loc[['row 2','row 5'],['column 2', 'column 6']]

       column 2  column 6
row 2  0.437611  0.113041
row 5  0.559053  0.436935

#### Data Slicing

In [15]:
series_obj['row 1':'row 5']

row 1    0
row 2    1
row 3    2
row 4    3
row 5    4
dtype: int64

#### Comparing with Scaler

In [16]:
DF_obj < 0.3

       column 1  column 2  column 3  column 4  column 5  column 6
row 1     False     False      True      True     False      True
row 2     False     False     False     False     False      True
row 3     False     False      True     False     False     False
row 4     False     False     False     False     False     False
row 5     False     False      True     False     False     False
row 6      True     False     False     False      True     False

#### Filtering with Scaler

In [17]:
DF_obj[DF_obj < 0.3]

       column 1  column 2  column 3  column 4  column 5  column 6
row 1       NaN       NaN  0.278839  0.185911       NaN  0.117376
row 2       NaN       NaN       NaN       NaN       NaN  0.113041
row 3       NaN       NaN  0.161985       NaN       NaN       NaN
row 4       NaN       NaN       NaN       NaN       NaN       NaN
row 5       NaN       NaN  0.034450       NaN       NaN       NaN
row 6  0.281701       NaN       NaN       NaN  0.289804       NaN

In [19]:
series_obj[series_obj < 5]

row 1    0
row 2    1
row 3    2
row 4    3
row 5    4
dtype: int64

#### Setting values with scaler

In [21]:
series_obj['row 1','row 2'] = 4
series_obj

row 1    4
row 2    4
row 3    2
row 4    3
row 5    4
row 6    5
row 7    6
row 8    7
dtype: int64